<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SQL directory</key>
	<string>cli/share/</string>
	<key>Configuration directory</key>
	<string>cli/etc/</string>
	<key>Binary directory</key>
	<string>cli/mangos/</string>
	<key>MaNGOS defaults</key>
	<dict>
		<key>Realmd</key>
		<dict>
			<key>ConfVersion</key>
			<integer>2007062001</integer>
			<key>LoginDatabaseInfo</key>
			<string>127.0.0.1;3306;mangos;mangos;realmd</string>
			<key>MaxPingTime</key>
			<integer>30</integer>
			<key>RealmServerPort</key>
			<integer>3724</integer>
			<key>BindIP</key>
			<string>0.0.0.0</string>
			<key>LogsDir</key>
			<string></string>
			<key>PidFile</key>
			<string></string>
			<key>LogLevel</key>
			<integer>0</integer>
			<key>LogTime</key>
			<integer>0</integer>
			<key>LogFile</key>
			<string>Realmd.log</string>
			<key>LogTimestamp</key>
			<integer>0</integer>
			<key>LogFileLevel</key>
			<integer>0</integer>
			<key>LogColors</key>
			<string></string>
		</dict>
		<key>Worldd</key>
		<dict>
			<key>ConfVersion</key>
			<integer>2010040601</integer>
			<key>Environment</key>
			<dict>
				<key>RealmID</key>
				<integer>1</integer>
				<key>DataDir</key>
				<string>.</string>
				<key>LogsDir</key>
				<string></string>
				<key>LoginDatabaseInfo</key>
				<string>127.0.0.1;3306;mangos;mangos;realmd</string>
				<key>WorldDatabaseInfo</key>
				<string>127.0.0.1;3306;mangos;mangos;mangos</string>
				<key>CharacterDatabaseInfo</key>
				<string>127.0.0.1;3306;mangos;mangos;characters</string>
				<key>MaxPingTime</key>
				<integer>30</integer>
				<key>WorldServerPort</key>
				<integer>8085</integer>
				<key>BindIP</key>
				<string>0.0.0.0</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>UserProcessors</key>
				<integer>0</integer>
				<key>ProcessPriority</key>
				<integer>1</integer>
				<key>Compression</key>
				<integer>1</integer>
				<key>PlayerLimit</key>
				<integer>100</integer>
				<key>SaveRespawnTimeImmediately</key>
				<integer>1</integer>
				<key>MaxOverspeedPings</key>
				<integer>2</integer>
				<key>GridUnload</key>
				<integer>1</integer>
				<key>SocketSelectTime</key>
				<integer>1000</integer>
				<key>GridCleanUpDelay</key>
				<integer>300000</integer>
				<key>MapUpdateInterval</key>
				<integer>100</integer>
				<key>ChangeWeatherInterval</key>
				<integer>600000</integer>
				<key>PlayerSave.Interval</key>
				<integer>900000</integer>
				<key>PlayerSave.Stats.MinLevel</key>
				<integer>0</integer>
				<key>PlayerSave.Stats.SaveOnlyOnLogout</key>
				<integer>1</integer>
				<key>vmap.enableLOS</key>
				<integer>0</integer>
				<key>vmap.enableHeight</key>
				<integer>0</integer>
				<key>vmap.ignoreMapIds</key>
				<string>369</string>
				<key>vmap.ignoreSpellIds</key>
				<string>7720</string>
				<key>DetectPosCollision</key>
				<integer>1</integer>
				<key>TargetPosRecalculateRange</key>
				<real>1.5</real>
				<key>UpdateUptimeInterval</key>
				<integer>10</integer>
				<key>MaxCoreStuckTime</key>
				<integer>0</integer>
				<key>AddonChannel</key>
				<integer>1</integer>
			</dict>
			<key>Logging</key>
			<dict>
				<key>LogSQL</key>
				<integer>1</integer>
				<key>PidFile</key>
				<string></string>
				<key>LogLevel</key>
				<integer>3</integer>
				<key>LogTime</key>
				<integer>0</integer>
				<key>LogFile</key>
				<string>Server.log</string>
				<key>LogTimestamp</key>
				<integer>0</integer>
				<key>LogFileLevel</key>
				<integer>0</integer>
				<key>LogFilter_AchievementUpdates</key>
				<integer>1</integer>
				<key>LogFilter_CreatureMoves</key>
				<integer>1</integer>
				<key>LogFilter_TransportMoves</key>
				<integer>1</integer>
				<key>LogFilter_VisibilityChanges</key>
				<integer>1</integer>
				<key>WorldLogFile</key>
				<string></string>
				<key>WorldLogTimestamp</key>
				<integer>0</integer>
				<key>DBErrorLogFile</key>
				<string>DBErrors.log</string>
				<key>CharLogFile</key>
				<string>Char.log</string>
				<key>CharLogTimestamp</key>
				<integer>0</integer>
				<key>CharLogDump</key>
				<integer>0</integer>
				<key>GmLogFile</key>
				<string></string>
				<key>GmLogTimestamp</key>
				<integer>0</integer>
				<key>GmLogPerAccount</key>
				<integer>0</integer>
				<key>RaLogFile</key>
				<string></string>
				<key>LogColors</key>
				<string></string>
			</dict>
			<key>Server</key>
			<dict>
				<key>GameType</key>
				<integer>1</integer>
				<key>RealmZone</key>
				<integer>1</integer>
				<key>Expansion</key>
				<integer>2</integer>
				<key>DBC.Locale</key>
				<integer>255</integer>
				<key>DeclinedNames</key>
				<integer>0</integer>
				<key>StrictPlayerNames</key>
				<integer>0</integer>
				<key>StrictCharterNames</key>
				<integer>0</integer>
				<key>StrictPetNames</key>
				<integer>0</integer>
				<key>MinPlayerName</key>
				<integer>2</integer>
				<key>MinCharterName</key>
				<integer>2</integer>
				<key>MinPetName</key>
				<integer>2</integer>
				<key>CharactersCreatingDisabled</key>
				<integer>0</integer>
				<key>CharactersPerAccount</key>
				<integer>50</integer>
				<key>CharactersPerRealm</key>
				<integer>10</integer>
				<key>HeroicCharactersPerRealm</key>
				<integer>1</integer>
				<key>MinLevelForHeroicCharacterCreating</key>
				<integer>55</integer>
				<key>SkipCinematics</key>
				<integer>0</integer>
				<key>MaxPlayerLevel</key>
				<integer>80</integer>
				<key>StartPlayerLevel</key>
				<integer>1</integer>
				<key>StartHeroicPlayerLevel</key>
				<integer>55</integer>
				<key>StartPlayerMoney</key>
				<integer>0</integer>
				<key>MaxHonorPoints</key>
				<integer>75000</integer>
				<key>StartHonorPoints</key>
				<integer>0</integer>
				<key>MaxArenaPoints</key>
				<integer>5000</integer>
				<key>StartArenaPoints</key>
				<integer>0</integer>
				<key>InstantLogout</key>
				<integer>1</integer>
				<key>DisableWaterBreath</key>
				<integer>4</integer>
				<key>AllFlightPaths</key>
				<integer>0</integer>
				<key>AlwaysMaxSkillForLevel</key>
				<integer>0</integer>
				<key>ActivateWeather</key>
				<integer>1</integer>
				<key>CastUnstuck</key>
				<integer>1</integer>
				<key>MaxSpellCastsInChain</key>
				<integer>10</integer>
				<key>Instance.IgnoreLevel</key>
				<integer>0</integer>
				<key>Instance.IgnoreRaid</key>
				<integer>0</integer>
				<key>Instance.ResetTimeHour</key>
				<integer>4</integer>
				<key>Instance.UnloadDelay</key>
				<integer>1800000</integer>
				<key>Quests.LowLevelHideDiff</key>
				<integer>4</integer>
				<key>Quests.HighLevelHideDiff</key>
				<integer>7</integer>
				<key>Quests.Daily.ResetHour</key>
				<integer>6</integer>
				<key>Quests.Weekly.ResetWeekDay</key>
				<integer>3</integer>
				<key>Quests.Weekly.ResetHour</key>
				<integer>6</integer>
				<key>Guild.EventLogRecordsCount</key>
				<integer>100</integer>
				<key>Guild.BankEventLogRecordsCount</key>
				<integer>25</integer>
				<key>TimerBar.Fatigue.GMLevel</key>
				<integer>4</integer>
				<key>TimerBar.Fatigue.Max</key>
				<integer>60</integer>
				<key>TimerBar.Breath.GMLevel</key>
				<integer>4</integer>
				<key>TimerBar.Breath.Max</key>
				<integer>180</integer>
				<key>TimerBar.Fire.GMLevel</key>
				<integer>4</integer>
				<key>TimerBar.Fire.Max</key>
				<integer>1</integer>
				<key>MaxPrimaryTradeSkill</key>
				<integer>2</integer>
				<key>MinPetitionSigns</key>
				<integer>9</integer>
				<key>MaxGroupXPDistance</key>
				<integer>74</integer>
				<key>MailDeliveryDelay</key>
				<integer>3600</integer>
				<key>SkillChance.Prospecting</key>
				<integer>0</integer>
				<key>SkillChance.Milling</key>
				<integer>0</integer>
				<key>OffhandCheckAtTalentsReset</key>
				<integer>0</integer>
				<key>ClientCacheVersion</key>
				<integer>0</integer>
				<key>Event.Announce</key>
				<integer>0</integer>
				<key>BeepAtStart</key>
				<integer>1</integer>
				<key>MotD</key>
				<string>Welcome to MaNGOS, hosted with MaNGOSX!</string>
			</dict>
			<key>Interaction</key>
			<dict>
				<key>AllowTwoSide.Accounts</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Chat</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Channel</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Group</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Guild</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Auction</key>
				<integer>0</integer>
				<key>AllowTwoSide.Interaction.Mail</key>
				<integer>0</integer>
				<key>AllowTwoSide.WhoList</key>
				<integer>0</integer>
				<key>AllowTwoSide.AddFriend</key>
				<integer>0</integer>
				<key>TalentsInspecting</key>
				<integer>1</integer>
			</dict>
			<key>Creatures</key>
			<dict>
				<key>ThreatRadius</key>
				<integer>100</integer>
				<key>Rate.Creature.Aggro</key>
				<integer>1</integer>
				<key>CreatureFamilyFleeAssistanceRadius</key>
				<integer>30</integer>
				<key>CreatureFamilyAssistanceRadius</key>
				<integer>10</integer>
				<key>CreatureFamilyAssistanceDelay</key>
				<integer>1500</integer>
				<key>CreatureFamilyFleeDelay</key>
				<integer>7000</integer>
				<key>WorldBossLevelDiff</key>
				<integer>3</integer>
				<key>Corpse.Decay.NORMAL</key>
				<integer>60</integer>
				<key>Corpse.Decay.RARE</key>
				<integer>300</integer>
				<key>Corpse.Decay.ELITE</key>
				<integer>300</integer>
				<key>Corpse.Decay.RAREELITE</key>
				<integer>300</integer>
				<key>Corpse.Decay.WORLDBOSS</key>
				<integer>3600</integer>
				<key>Rate.Corpse.Decay.Looted</key>
				<real>0.1</real>
				<key>Rate.Creature.Elite.Elite.Damage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RAREELITE.Damage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.WORLDBOSS.Damage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RARE.Damage</key>
				<integer>1</integer>
				<key>Rate.Creature.Normal.SpellDamage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.Elite.SpellDamage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RAREELITE.SpellDamage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.WORLDBOSS.SpellDamage</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RARE.SpellDamage</key>
				<integer>1</integer>
				<key>Rate.Creature.Normal.HP</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.Elite.HP</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RAREELITE.HP</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.WORLDBOSS.HP</key>
				<integer>1</integer>
				<key>Rate.Creature.Elite.RARE.HP</key>
				<integer>1</integer>
				<key>ListenRange.Say</key>
				<integer>40</integer>
				<key>ListenRange.TextEmote</key>
				<integer>40</integer>
				<key>ListenRange.Yell</key>
				<integer>300</integer>
			</dict>
			<key>Chat</key>
			<dict>
				<key>ChatFakeMessagePreventing</key>
				<integer>0</integer>
				<key>ChatStrictLinkChecking.Severity</key>
				<integer>0</integer>
				<key>ChatStrictLinkChecking.Kick</key>
				<integer>0</integer>
				<key>ChatFlood.MessageCount</key>
				<integer>10</integer>
				<key>ChatFlood.MessageDelay</key>
				<integer>1</integer>
				<key>ChatFlood.MuteTime</key>
				<integer>10</integer>
				<key>Channel.RestrictedLfg</key>
				<integer>1</integer>
				<key>Channel.SilentlyGMJoin</key>
				<integer>0</integer>
			</dict>
			<key>GM</key>
			<dict>
				<key>GM.LoginState</key>
				<integer>2</integer>
				<key>GM.Visible</key>
				<integer>2</integer>
				<key>GM.AcceptTickets</key>
				<integer>2</integer>
				<key>GM.Chat</key>
				<integer>2</integer>
				<key>GM.WhisperingTo</key>
				<integer>2</integer>
				<key>GM.InGMList.Level</key>
				<integer>3</integer>
				<key>GM.InWhoList.Level</key>
				<integer>3</integer>
				<key>GM.LogTrade</key>
				<integer>1</integer>
				<key>GM.StartLevel</key>
				<integer>1</integer>
				<key>GM.LowerSecurity</key>
				<integer>0</integer>
				<key>GM.AllowAchievementGain</key>
				<integer>1</integer>
			</dict>
			<key>Visibility</key>
			<dict>
				<key>Visibility.GroupMode</key>
				<integer>0</integer>
				<key>Visibility.Distance.Continents</key>
				<integer>90</integer>
				<key>Visibility.Distance.Instances</key>
				<integer>120</integer>
				<key>Visibility.Distance.BGArenas</key>
				<integer>180</integer>
				<key>Visibility.Distance.Object</key>
				<integer>100</integer>
				<key>Visibility.Distance.InFlight</key>
				<integer>100</integer>
				<key>Visibility.Distance.Grey.Unit</key>
				<integer>1</integer>
				<key>Visibility.Distance.Grey.Object</key>
				<integer>10</integer>
			</dict>
			<key>Rates</key>
			<dict>
				<key>Rate.Health</key>
				<integer>1</integer>
				<key>Rate.Mana</key>
				<integer>1</integer>
				<key>Rate.Rage.Income</key>
				<integer>1</integer>
				<key>Rate.Rage.Loss</key>
				<integer>1</integer>
				<key>Rate.RunicPower.Income</key>
				<integer>1</integer>
				<key>Rate.RunicPower.Loss</key>
				<integer>1</integer>
				<key>Rate.Focus</key>
				<integer>1</integer>
				<key>Rate.Skill.Discovery</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Poor</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Normal</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Uncommon</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Rare</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Epic</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Legendary</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Artifact</key>
				<integer>1</integer>
				<key>Rate.Drop.Item.Referenced</key>
				<integer>1</integer>
				<key>Rate.Drop.Money</key>
				<integer>1</integer>
				<key>Rate.XP.Kill</key>
				<integer>1</integer>
				<key>Rate.XP.Quest</key>
				<integer>1</integer>
				<key>Rate.XP.Explore</key>
				<integer>1</integer>
				<key>Rate.Rest.InGame</key>
				<integer>1</integer>
				<key>Rate.Rest.Offline.InTavernOrCity</key>
				<integer>1</integer>
				<key>Rate.Rest.Offline.InWilderness</key>
				<integer>1</integer>
				<key>Rate.Damage.Fall</key>
				<integer>1</integer>
				<key>Rate.Auction.Time</key>
				<integer>1</integer>
				<key>Rate.Auction.Deposit</key>
				<integer>1</integer>
				<key>Rate.Auction.Cut</key>
				<integer>1</integer>
				<key>Rate.Honor</key>
				<integer>1</integer>
				<key>Rate.Mining.Amount</key>
				<integer>1</integer>
				<key>Rate.Mining.Next</key>
				<integer>1</integer>
				<key>Rate.Talent</key>
				<integer>1</integer>
				<key>Rate.Reputation.Gain</key>
				<integer>1</integer>
				<key>Rate.Reputation.LowLevel.Kill</key>
				<integer>1</integer>
				<key>Rate.Reputation.LowLevel.Quest</key>
				<integer>1</integer>
				<key>Rate.InstanceResetTime</key>
				<integer>1</integer>
				<key>SkillGain.Crafting</key>
				<integer>1</integer>
				<key>SkillGain.Defense</key>
				<integer>1</integer>
				<key>SkillGain.Gathering</key>
				<integer>1</integer>
				<key>SkillGain.Weapon</key>
				<integer>1</integer>
				<key>SkillChance.Orange</key>
				<integer>100</integer>
				<key>SkillChance.Yellow</key>
				<integer>75</integer>
				<key>SkillChance.Green</key>
				<integer>25</integer>
				<key>SkillChance.Grey</key>
				<integer>0</integer>
				<key>SkillChance.MiningSteps</key>
				<integer>0</integer>
				<key>SkillChance.SkinningSteps</key>
				<integer>0</integer>
				<key>DurabilityLossChance.Damage</key>
				<real>0.5</real>
				<key>DurabilityLossChance.Absorb</key>
				<real>0.5</real>
				<key>DurabilityLossChance.Parry</key>
				<real>0.05</real>
				<key>DurabilityLossChance.Block</key>
				<real>0.05</real>
				<key>Death.SicknessLevel</key>
				<integer>11</integer>
				<key>Death.CorpseReclaimDelay.PvP</key>
				<integer>1</integer>
				<key>Death.CorpseReclaimDelay.PvE</key>
				<integer>1</integer>
				<key>Death.Bones.World</key>
				<integer>1</integer>
				<key>Death.Bones.BattlegroundOrArena</key>
				<integer>1</integer>
			</dict>
			<key>Battlegrounds</key>
			<dict>
				<key>Battleground.CastDeserter</key>
				<integer>1</integer>
				<key>Battleground.QueueAnnouncer.Join</key>
				<integer>0</integer>
				<key>Battleground.QueueAnnouncer.Start</key>
				<integer>0</integer>
				<key>Battleground.InvitationType</key>
				<integer>0</integer>
				<key>Battleground.PrematureFinishTimer</key>
				<integer>300000</integer>
				<key>Battleground.PremadeGroupWaitForMatch</key>
				<integer>1800000</integer>
			</dict>
			<key>Arena</key>
			<dict>
				<key>Arena.MaxRatingDifference</key>
				<integer>150</integer>
				<key>Arena.RatingDiscardTimer</key>
				<integer>600000</integer>
				<key>Arena.AutoDistributePoints</key>
				<integer>0</integer>
				<key>Arena.AutoDistributeInterval</key>
				<integer>7</integer>
				<key>Arena.QueueAnnouncer.Join</key>
				<integer>0</integer>
				<key>Arena.QueueAnnouncer.Exit</key>
				<integer>0</integer>
				<key>Arena.ArenaSeason.ID</key>
				<integer>1</integer>
				<key>Arena.ArenaSeason.InProgress</key>
				<integer>1</integer>
			</dict>
			<key>Network</key>
			<dict>
				<key>Network.Threads</key>
				<integer>1</integer>
				<key>Network.OutKBuff</key>
				<integer>-1</integer>
				<key>Network.OutUBuff</key>
				<integer>65536</integer>
				<key>Network.TcpNodelay</key>
				<integer>1</integer>
				<key>Network.KickOnBadPacket</key>
				<integer>0</integer>
			</dict>
			<key>Access</key>
			<dict>
				<key>Console.Enable</key>
				<integer>1</integer>
				<key>Ra.Enable</key>
				<integer>0</integer>
				<key>Ra.IP</key>
				<string>0.0.0.0</string>
				<key>Ra.Port</key>
				<integer>3443</integer>
				<key>Ra.MinLevel</key>
				<integer>3</integer>
				<key>Ra.Secure</key>
				<integer>1</integer>
				<key>Ra.Stricted</key>
				<integer>1</integer>
				<key>SOAP.Enabled</key>
				<integer>0</integer>
				<key>SOAP.IP</key>
				<string>127.0.0.1</string>
				<key>SOAP.Port</key>
				<string>7878</string>
			</dict>
		</dict>
		<key>ScriptDev</key>
		<dict>
			<key>ConfVersion</key>
			<integer>2009040501</integer>
			<key>ScriptDev2DatabaseInfo</key>
			<string>127.0.0.1;3306;mangos;mangos;scriptdev2</string>
		</dict>
	</dict>
	<key>User configuration</key>
	<dict>
		<key>Realmd</key>
		<dict/>
		<key>Worldd</key>
		<dict/>
	</dict>
</dict>
</plist>
